/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/* VARIABLES */
:root {
  --main-color: #ff01c9;
  --second-color: #eeaddf;
  --third-color: #ffd9f6;
}

/* RESET */

html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* HEADER / NAVBAR */

.header {
  max-height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.header-article {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 0 1rem;
}

.header-article a {
  color: #000000;
  text-decoration: none;
}

.header-article img {
  min-width: 10rem;
  max-width: 10rem;
}

.navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80vw;
  border-right: thin solid #a0a0a0;
  transition: all 200ms ease-in-out;
  transform: translateX(-80vw);
}

.navbar.is-active {
  transform: translateX(0vw);
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar ul a {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 1.5rem 0;
  padding-left: 1.5rem;
  text-align: center;
  overflow-y: auto;
  width: 100%;
  border-top: thin solid #a0a0a0;
}

.navbar ul a:first-child {
  display: inline;
  width: auto;
  min-height: 60px;
  border-top: none;
  text-align: center;
  padding: 1rem 0;
  margin-left: calc(80vw - 4rem);
}

/* HERO */
.hero {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 60px;
  z-index: -1;
}

/* MAIN CONTAINER */
.container {
  margin: 0 5%;
}

/* STYLES TO SUBTITLES */
.subtitle {
  border-top: thin solid var(--main-color);
  border-bottom: thin solid var(--main-color);
  padding: 0.5rem 0;
  margin-top: 60px;
  text-align: center;
}

/* PRODUCTS SECTION */
.products {
  width: 100%;
  padding-top: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
  padding: 0;
  margin: 1rem 0;
}

.card {
  list-style-type: none;
  text-align: center;
}

.card.no-stock {
  filter: grayscale(1);
  z-index: -1;
}

.card p {
  margin: 0;
  font-size: 0.9rem;
}

.card h5 {
  margin: 0;
  font-size: 1rem;
  color: var(--main-color);
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner.is-active {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: var(--main-color);
animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* SIZES GUIDE SECTION */
.sizes-guide {
  margin: 1rem 0;
  padding-top: 10px;
}

/* FOOTER */
.footer {
  background-color: var(--second-color);
  color: #ffffff;
  padding: 0.5rem 1rem;
}

.footer-nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav ul a {
  flex-basis: 50%;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 1rem;
}

.footer-contact svg {
  width: 1.6rem;
}

.footer-contact-tel {
  display: flex;
  align-items: center;
}

.footer-contact-tel a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.footer-contact-email {
  display: flex;
  align-items: center;
}

.footer-contact-email a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.footer-socials-instagram {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ffffff;
}

.footer-socials-instagram svg {
  width: 1.5rem;
}

.footer-socials-instagram a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.dev-info {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-size: 0.8rem;
}

.dev-info a {
  text-decoration: none;
  color: #575757;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 1rem 0;
    margin: 1rem 0rem;
  }

  .sizes-guide {
    margin: 0 auto;
    padding-top: 10px;
    width: 100%;
    text-align: center;
  }

  .sizes-guide img {
    max-width: 30rem;
    padding: 1rem 0;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  .header-article {
    display: none;
  }

  .navbar {
    position: relative;
    width: 100%;
    transform: none;
    background: rgba(255, 1, 201, .5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .navbar ul {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar ul a {
    color: #ffffff;
    text-decoration: none;
    display: inline;
    padding: 0;
    margin: 0;
    width: auto;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    transition: all 300ms ease;
  }

  .navbar ul a:hover {
    transform: scale(1.1);
    text-decoration: underline;
  }

  .navbar ul a:first-child {
    display: none;
  }

  .subtitle {
    border-bottom: thin solid var(--main-color);
    padding: 0.5rem 0;
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .products {
    width: 100%;
    padding-top: 10px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0;
    margin: 4rem 0;
  }

  .card {
    list-style-type: none;
    text-align: center;
    padding: 1rem 0;
  }

  .card p {
    margin-top: .5rem;
    font-size: 1rem;
  }

  .card h5 {
    margin: .5rem 0;
    font-size: 1.3rem;
    color: var(--main-color);
  }

  .sizes-guide {
    margin: 2rem auto;
    padding: 0;
    padding-top: 10px;
    width: 100%;
    text-align: center;
  }

  .sizes-guide img {
    max-width: 40rem;
  }

  .footer {
    padding: 1rem 0;
    text-align: center;
    font-size: 1.1rem;
  }

  .footer a:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    text-decoration: underline;
  }

  .footer-nav ul {
    min-width: 50%;
    max-width: 50%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-nav ul a {
    text-align: center;
    flex-basis: 1;
    margin: 0;
    padding: 0;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-contact svg {
    width: 1.7rem;
  }

  .footer-contact-email a {
    font-size: 1rem;
  }

  .footer-socials-instagram {
    display: flex;
    justify-content: center;
    border: none;
    padding: 0;
  }

  .footer-socials-instagram svg {
    width: 1.7rem;
  }

  .footer-socials-instagram a {
    font-size: 1rem;
  }

  .dev-info {
    padding: 0.8rem;
  }
}
